.farm-button-grid {
  flex: 0 1 auto;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  gap: 1px;

  border: 1px solid red;
}

.plot {
  visibility: hidden;
}

.plot--visible {
  visibility: visible;
}

.plot--purchaseable {
  --ac-button-primary-bg: #d2b100;
  --ac-button-primary-hover-bg: #e8c506;
  --ac-button-primary-active-bg: #ffd600;
}
