.farm-button-grid {
  flex: 0 1 auto;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  gap: 1px;

  border: 1px solid black;
  border-radius: var(--a-radius-lg);
}

.plot {
  visibility: hidden;
  width: 50px;
  height: 50px;
  flex-flow: column nowrap;
}

.plot--purchaseable .icon {
  font-size: 1em;
  transform: translate(0, 7px);
}

.plot--purchaseable .navds-label {
  font-size: 0.8em;
  transform: translate(0, -7px);
}

.plot--visible {
  visibility: visible;
}

.plot--purchaseable {
  --ac-button-primary-bg: #d2b100;
  --ac-button-primary-hover-bg: #e8c506;
  --ac-button-primary-active-bg: #ffd600;
}
